<div class="post_box">
    <a class="post_author" href="{% url 'post:profile' post.user.username post.user.pk%}">{{ post.user.username }}</a>
    <div class="text_container">
        <p>title :{{ post.title }}</p>
        <p>{{ post.content }}</p>
    </div>
    <div class="d-flex justify-content-between">
        {% include "post/_like.html" %}
        <ul class="d-flex">
            <li>
                <button type="button" class="btn btn-success tempApp_btn">
                    <a href="{% url 'post:detail' post.pk %}">詳細</a>
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-danger delete_btn">
                    <a href="{% url 'post:delete' post.pk %}">削除</a>
                </button>
            </li>
        </ul>
    </div>
    <a href="{% url 'post:comment' post.pk %}">コメント</a>
    {% if post.comments.all %}
    {% for comment in post.comments.all %}
    <p>{{ comment.content }}</p>
    {% endfor %}
    {% endif %}
    
</div>