{% extends "base.html" %}
{% load static %}
{% block nav %}
{% endblock %}
{% block main %}
<div class="container">
    <a href="{% url 'registration:logout' %}">ログアウト</a>
    <a href="{% url 'post:create' %}">投稿</a>
    <a href="{% url 'post:home' %}">ホーム</a>
    <h1>{{ target_user }}さん</h1>
    {% if can_follow and follower != following %}
    <form action="{% url 'post:follow' following.username following.pk %}" method="POST">
        {% csrf_token %}
        <button>follow</button>
    </form>
    {% else %}
    <form action="{% url 'post:unfollow' following.username following.pk %}" method="POST">
        {% csrf_token %}
        <button>unfollow</button>
    </form>
    {% endif %}
    {% for post in postList %}
    {{ post.user }} {{ post.title }}<br>
    {{ post.content }}<br>
    <a href="{% url 'post:detail' post.pk %}">詳細</a><br><br>
    {% endfor %}
</div>
{% endblock %}